@import '../abstract/variables';

.banner {
  position: relative;
  z-index: 1;
  background: url('./images/background.png') no-repeat;
  background-size: cover;
  padding-top: 112px;
  padding-bottom: 2px;
  width: 100%;

  &__title {
    font-style: normal;
    font-weight: 800;
    font-size: 58px;
    line-height: 80px;
    letter-spacing: 0.2px;
    color: $color-white;
  }

  &__subtitle {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: $color-white;
    width: 75%;
  }

  &__buttons {
    margin-top: 35px;
    display: flex;

    a.btn__start,
    a.btn__learn {
      text-decoration: none;
      border-radius: 37px;
      padding: 15px 36px;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 22px;
      text-align: center;
      letter-spacing: 0.2px;
      color: $color-white;
      transition: background 0.2s cubic-bezier(0.18, 0.47, 0.59, -0.1),
        color 0.3s linear;
    }

    a.btn__start {
      background: #23a6f0;
      border: 1px solid transparent;
      margin-right: 10px;
    }

    a.btn__start:hover {
      background: #fff;
      color: #23a6f0;
    }

    a.btn__learn {
      border: 1px solid $color-white;
    }
    a.btn__learn:hover {
      color: #23a6f0;
      background: $color-white;
      border: #23a6f0 1px solid;
    }
  }

  &__content {
    position: absolute;
    bottom: -5px;
    left: 50%;
    margin-left: -600px;
  }

  &__assistent {
    background: url(images/header-assistent.png) no-repeat;
    background-position: bottom;
    background-size: contain;
    min-height: 521px;
  }

}

@media (max-width: 991px) {
  .banner {
    &__title {
      font-size: 45px;
      line-height: 60px;
    }

    &__subtitle {
      width: 87%;
    }

    &__buttons {
      margin-bottom: 30px;

      a.btn__start,
      a.btn__learn  {
        padding: 12px 30px;
      }
    }

    &__assistent {
      min-height: 451px;
    }
  }
}

@media (max-width: 767px) {
  .banner {

    &__title,
    &__subtitle {
      text-align: center;
      width: 100%;
    }

    &__subtitle {
      margin-top: 35px;
    }

    &__buttons {
      flex-direction: column;
      align-items: center;

      a.btn__start,
      a.btn__learn  {
        padding: 12px 45px;
      }

      a.btn__start {
        margin-bottom: 20px;
        margin-right: 0;
      }
    }
  }
}

@media (max-width: 576px) {
  .banner {
    &__title{
      font-size: 35px;
    }

    &__subtitle {
      font-size: 18px;
    }
  }
}