@import '../abstract/variables';

.pricing {
    background-color: $color-dark;
    padding-top: 112px;

    &__title {
        font-weight: 700;
        font-size: 40px;
        line-height: 57px;
    }

    &__subtitle {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 60px;
    }
    
    &__title,
    &__subtitle {
        text-align: center;
        color: $color-white;
    
    }


}