@import "../abstract/variables";

.form {
  background: $color-gradient;
  color: $color-white;
  border-radius: 2px;

  &__text {
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 0;
  }
}
