@import "../abstract/variables";

.link {
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  color: $color-white;
  cursor: pointer;
  transition: color 0.1s ease-in;

  &:hover {
    color: $color-blue;
  }


  &--secondary {
    color: $color-blue;

    &:hover {
      color: $color-white;
    }
  }
}
