.list {
  $parent: &;

  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;

  &--vertical {
    flex-direction: column;

    #{$parent}__item {
      &:not(:last-of-type) {
        margin-bottom: 10px;
      }
    }
  }

  &--horizontal {
    flex-direction: row;

    #{$parent}__item {
      &:not(:last-of-type) {
        margin-right: 20px;
      }
    }
  }
}
