@import '../abstract/variables';

.menu {
  display: flex;

  &__item {
    list-style: none;
    font-style: normal;
    font-weight: 600;
    text-align: center;
    letter-spacing: 0.2px;

    &:not(:last-of-type) {
      margin-right: 21px;
    }
  }
}

@media (max-width: 991px) {
  .menu {
    &__item:not(:last-of-type) {
      margin-right: 12px;
    }
  }
}

@media (max-width: 767px) {
  .menu {

    &__item {
      margin-top: 10px;
      margin-bottom: 10px;
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      line-height: 45px;
      
    }

    &__item:not(:last-of-type) {
      margin-right: 0;
    }
  }
}
