@import '../abstract/variables';

.navbar {
  padding-top: 25px;
  

  &__logo {
    .logo {
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 32px;
      letter-spacing: 0.1px;
      color: $color-white;
    }
  }

  &__mob-links {
    display: none;
  }

  &__check {
    .login {
        margin-right: 12px;
    }
  }
}

@media (max-width: 991px) {
  .navbar {
    &__logo {
      .logo {
        font-size: 20px;
      }
    }

    a {
      font-size: 12px;
    }

    &__check {
      .login {
          margin-right: 7px;
      }
    }
  }
}

@media (max-width: 768px) {
 .navbar {
  
   a {
     font-size: 30px;
   }

    &__menu {
      flex-direction: column;
      padding-top: 65px;
      padding-left: 0;
    }

   &__mob-links {
      display: flex;
      justify-content: space-around;

      a {
        margin-right: 10px;
        font-size: 30px;  
        color: #fff;
        transition: color 0.2s linear ;
        
        i {
          font-weight: 300  ;
          
        }
      }

      a:hover {
        color:#23a6f0;
      }
    }

    &__check {
      display: none;
    }
  }
}
