@import '../abstract/variables';

.navbar {
  padding-top: 25px;
  

  &__logo {
    .logo {
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 32px;
      letter-spacing: 0.1px;
      color: $color-white;
    }
  }

  &__mob-links {
    display: none;
  }
}

@media (max-width: 991px) {
  .navbar {
    &__logo {
      .logo {
        font-size: 20px;
      }
    }

    a {
      font-size: 12px;
    }
  }
}

@media (max-width: 768px) {
  .navbar {

    background-color: #252B42;
    &__check {
      display: none;
    }

    &__menu {
      flex-direction: column;
    }

    a {
      font-size: 20px;
    }

    &__mob-links {
      display: flex;

      a {
        font-size: 20px;
        padding-right: 15px;
        color: #fff;
        transition: color 0.2s linear ;
      }

      a:hover {
        color:#23a6f0;
      }
    }
  }
}
