$color-white: #fff;
$color-blue: #23a6f0;
$color-dark: #252b42;
$color-light-gray: #fafafa;
$color-gray: #f9f9f9;
$color-testimonials: #8EC2F2;
$color-dark-gray: #737373;
$color-star: #F3CD03;
$color-success: #2DC071;
$color-unsuccess: #BDBDBD;

$color-gradient: linear-gradient(270deg, #d71489 -1.04%, #004788 100%);
